*{
    margin: 0;
    padding: 0;
}

body{
     background-size: 100% ; 
     background-repeat: no-repeat;
}

h1{
    text-align: center;
    margin: 50px;
    border-radius: 30px;
    padding: 10px;
    background-color: black;
    opacity: calc(75%);
    font-family: sans-serif;
    font-size: xx-large;
    color: white;
}
ol{
    background-color: black;
    opacity: calc(75%);
    font-size: xx-large;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
    margin: 80px;
    padding: 50px;
    border-radius: 30px;
    outline: auto;
    outline-color: green;
}

button{
    font-size: 20px;
    font-weight: 200;
    padding: 15px;
    margin: 15px;
    width: 300px;
    background: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16), -10px -10px -10px -1px rgba(255, 255, 255, 0,70);
    color: black;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
button:hover{
    transform: translateY(-10px);
    color: white;
    background-color: red;
}
.fa-house{
    padding-right: 5px;
}